#addNewPolicy {
    float: right;
    height: 30px;
    font-size: 14px;
    text-shadow: none;
    min-width: 100px;
    line-height: 13px;
    color: black;
}
td {
    border-top: 0;
    padding: 5px;
}