td > input :not(#user_form) {
    width: 50px;
    text-align: center;
}
#tableBMI  {
    text-align: center;
}
#tableMaxAge > tbody > tr > td:last-child {
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* remove arrows (down/up) for input type = number */
  -webkit-appearance: none;
  margin: 0;
}
.form-control{
    width: 120px; 
    display: inline;
}
#tableBaseRates > tbody > tr > td{
    text-align: center;
}
#tableMaxAge > tbody > tr > td{
    text-align: center;
}
#tableBMI > tbody > tr > td{
    text-align: center;
}
#tableSumInsured > tbody > tr > td{
    text-align: center;
}
#tablePolicyParams > tbody > tr > td{
    text-align: center;
}
tr:not(#user_form > table > td > tr > input):hover{
    background-color: gold;
}
#tableBaseRates > tbody > tr > td > input{
    text-align: center;
}
#tableMaxAge > tbody > tr > td > input{
    text-align: center;
}
#tableBMI > tbody > tr > td > input{
    text-align: center;
}
#tableSumInsured > tbody > tr > td> input{
    text-align: center;
}
#tablePolicyParams > tbody > tr > td> input{
    text-align: center;
}
tr:not(#user_form):hover{
    background-color: gold;
}
#productSetup {
    cursor: pointer;
    color: black;
    line-height: 20px;
}
th:not(#user_form){
    text-align: center;
}
tbody {
    border-style: dotted;
}
thead {
    border-style: solid;
}
#user_form > table > tbody > tr > td {
    border-top: 0;
    padding: 5px;
    text-align: left;
}
#user_form > table {
    border-collapse: unset;
    justify-content: left;
}
